@import "../../scss/variables";
@import "../../scss/mixins";

.feature__container {
  padding-top: 60px;
  display: flex;
}

.feature__right {
  position: relative;
}

@include tablet-landscape-up {
  .feature__container {
    padding-top: 166px;
    display: flex;
  }
}
