include ../logo/logo
include ../nav/nav
include ../contacts/contacts

mixin header({logoImg, menuList, contacts})
  header.header.js-header
    .header__container.container
      +logo({src: logoImg})(class = 'header__logo')
      +nav({list: menuList})(class = 'header__nav')
      +contacts(contacts)(class='header__contacts')
      button.header__burger(type = 'button')


