mixin contacts({mail, phone})
  .contacts&attributes(attributes)
    .contacts__container
      .contacts__item
        img.contacts__icon(src='assets/img/icon-phone.svg' width=24 height=24)
        .contacts__group
          button.contacts__callback.modal-trigger(type='button' data-trigger = 'callback') Обратный звонок
          a.contacts__link(href=`tel:${phone.replace(/[() -]*/g, '')}`)= phone
      .contacts__item
        img.contacts__icon(src='assets/img/icon-mail.svg' width=24 height=24)
        a.contacts__link(href=`mailto:${mail}`)= mail
